<h1 title="Update User Information" class="text-center">Update User Information</h1>
<p title="edit user info"class="text-center">To edit your User information, please update the form below. Press "Save Changes" to complete the update.</p>
<div class="large-7 large-center columns" role="form">
  <a name="nav-skip" id="nav-skip"></a>
  <%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.submit "Save Changes", :class => 'waves-effect waves-light button edit-user-save'%>
  <% end %>
</div>
