<h1>Edit Caregiver Form</h1>

<%= simple_form_for @caregiver do |f| %>
<%= f.input :experience %>
<%= f.input :photo %>
<%= f.input :location %>
<%= f.input :credentials %>
<%= f.button :submit %>
<% end %>
