<div style="height:100px; width:100%; clear:both;"></div>
<h1 class="text-center">Specialties Directory</h1>
<br>
<hr>
<div class="column">
  <ul class="specialty-grid no-bullet row">
      <% @specialties.each do |specialty| %>
      <li class="large-3 small-6 column">
        <div class="specialty-card padly">
          <ul class="button-group round">
            <li><a href="<%= specialty_path(specialty) %>" class="button expanded"><%= specialty.skill %></a></li>
          </ul>
        </div>
      </li>
      <% end %>
  </ul>
</div>

<% @caregivers.each do |caregiver| %>
<div class="row">
  <div class="large-12 small-11 columns">
    <div class="callout large">
        <div class="large-3 small-12 text-center columns">
            <%= image_tag(caregiver.file) %>
        </div>
      <strong><h3><%= link_to "#{caregiver.user.first_name} #{caregiver.user.last_name}", caregiver_path(caregiver), class: "links" %><h3></strong>
      <h4><strong>Location:</strong><%= caregiver.location %></h4>
      <h4><strong>Experience:</strong><%= caregiver.experience %></h4>
      <h4><strong>Credentials:</strong><%= caregiver.credentials %></h4>
    </div>
  </div>
</div>
<% end %>
