<strong><h1> <%= @specialty.skill %><h1></strong>

<% @specialty.caregivers.each do |c| %>
<table summary="These are all the caregivers available for this specialty">
  <tr>
    <th>Photo:</th>
    <th>First Name:</th>
    <th>Last Name:</th>
    <th>Location:</th>
    <th>Experience:</th>
    <th>Credentials:</th>
  </tr>
  <tr>
    <td> <%= image_tag(c.file) %> </td>
    <td> <%= c.user.first_name %> </td>
    <td> <%= c.user.last_name %></td>
    <td> <%= c.location %></td>
    <td> <%= c.experience %></td>
    <td> <%= c.credentials %></td>
  </tr>
</table>
<% end %>
