<h1 class="text-center"> Caregiver Directory </h1>

<div class="row text-center">
  <div class="large-10 small-12 large-centered columns">
    <div class="panel callout radius filter">
      <label><strong><h2 class="text-center">Filter</h2></strong></label>
          <label for="q_experience_or_location_or_credentials_cont">
            Search your specific care needs.
          </label>
          <%= search_form_for @q do |f| %>
          <%= f.search_field :experience_or_location_or_credentials_cont  %>
          <%= f.submit class: "button expanded" %>
          <% end %>

    </div>
  </div>
</div>


<% @caregivers.each do |caregiver| %>
<div class="row">
  <div class="large-12 small-12 columns">
    <div class="callout large">
      <div class="large-3 small-12 text-center columns">
          <%= image_tag(caregiver.file) %>
      <strong><h3> <%= caregiver.user.first_name %><%= caregiver.user.last_name %> <h3></strong></div>

      <h4><strong>Email: </strong><%= caregiver.user.email %></h4>
      <h4><strong>Location: </strong><%= caregiver.location %></h4>
      <h4><strong>Experience: </strong><%= caregiver.experience %></h4>
      <h4><strong>Credentials: </strong><%= caregiver.credentials %></h4>
      <h4>Learn more about <%= link_to "#{caregiver.user.first_name} #{caregiver.user.last_name}", caregiver_path(caregiver) %></h4>

    </div>
  </div>
</div>
<% end %>
<br/>
