<h2 class="text-center">
    <%= @caregiver.user.first_name %>'s Profile
</h2>
<div class="row">
    <div class="large-4 small-2 columns">
        <div class="panel callout radius">
            <div class="card">
              <%= image_tag(@caregiver.file) %>
                <div class="card-divider text-center">
                    <h4><%= @caregiver.user.first_name %> <%= @caregiver.user.last_name %></h4>
                </div>
                <div class="card-section">
                    <ul>
                        <ul>
                            <strong>
                                Email:
                            </strong>
                            <%= @caregiver.user.email %>
                        </ul>
                        <ul>
                            <strong>
                                Location:
                            </strong>
                            <%= @caregiver.location %>
                        </ul>
                    </ul>
                </div>
                <a href="<%= edit_caregiver_path %>" class="button expanded">Edit Profile</a>
                  <%= button_to "Edit User Information", edit_user_path(@caregiver.user_id), :method => :get, class: "button" %>
            </div>
        </div>
    </div>

    <div class="small-8 columns">
        <div class="panel callout radius">
            SHORT BIO:
            <hr>
            <%= @caregiver.experience %>
        </div>
        <div class="panel callout radius">
          CREDENTIALS:
          <hr>
          <%= @caregiver.credentials %>
        </div>
        <div class="panel callout radius">
            SPECIALTY:
            <hr>
            <div class="row">
                <div class="small-4 columns">
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    SPECIALTY GOES HERE
                </div>
                <div class="small-4 columns">
                    SPECIALTY GOES HERE
                </div>
                <div class="small-4 columns">
                    SPECIALTY GOES HERE
                </div>
            </div>
        </div>
        <%= link_to 'Send email', send_email_path, class: 'button' %>
    </div>
