<div style="height:12%; width:100%; clear:both;"></div>
<h1 class="text-center">
  <%= @caregiver.user.first_name %>'s Profile
</h1>
<div class="row">
  <div class="large-4 small-12 columns">
    <div class="panel callout radius">
      <div class="card">
        <div class="caregiver text-center">
          <%= image_tag(@caregiver.file) %>
        </div>
        <div class="card-divider text-center">
          <h2><%= @caregiver.user.first_name %>
            <%= @caregiver.user.last_name %></h2>
          </div>
          <div class="card-section">
            <ul>
              <ul>
                <strong>
                  Location:
                </strong>
                <%= @caregiver.location %>
              </ul>
            </ul>
          </div>
          <a href="<%= edit_caregiver_path %>" class="button expanded">Edit Profile</a>
          <a href="<%= edit_user_path(@caregiver.user_id) %>" class="button expanded">Edit User Information</a>
        </div>
      </div>
    </div>
    <div class="large-8 small-12 columns">
      <div class="panel callout radius">
        SHORT BIO:
        <hr>
        <%= @caregiver.experience %>
      </div>
      <div class="panel callout radius">
        CREDENTIALS:
        <hr>
        <%= @caregiver.credentials %>
      </div>
      <div class="panel callout radius">
        SPECIALTY:
        <hr>
        <% @specialties.each do |specialty| %>
        <div class="row">
          <div class="small-4 columns">
            <%= link_to "#{specialty.skill}", specialty_path(specialty) %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="large-12 large-centered columns">
        <%= link_to 'Send email', send_email_path, class: 'button expanded' %>
      </div>
    </div>
  </div>
