<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a name="nav-skip"id="nav-skip"></a>
    <h1 class="text-center">
      <%= @caregiver.user.first_name %>'s Profile
    </h1>
    <div class="row">
      <div class="large-4 small-12 columns">
        <div class="panel callout radius">
          <div class="card">
            <%= image_tag(@caregiver.file) %>
            <div class="card-divider text-center">
              <h2><%= @caregiver.user.first_name %> <%= @caregiver.user.last_name %></h2>
            </div>
            <div class="card-section" role="location">
              <ul>
                <ul>
                  <strong>
                    Location:
                  </strong>
                  <%= @caregiver.location %>
                </ul>
              </ul>
            </div>
            <a href="<%= edit_caregiver_path %>" class="button expanded">Edit Profile</a>
            <a href="<%= edit_user_path(@caregiver.user_id) %>" class="button expanded">Edit User Information</a>
          </div>
        </div>
      </div>

      <div class="large-8 small-12 columns">
        <div class="panel callout radius" role="Experience">
          Caregiver Experience
          <hr>
          <p><%= @caregiver.experience %></p>
        </div>
        <div class="panel callout radius" role="Credentials">
          CREDENTIALS:
          <hr>
          <p><%= @caregiver.credentials %>   </p>
        </div>
        <div class="panel callout radius" role="Specialty">
          SPECIALTY:
          <hr>
          <div class="row">
            <div class="small-4 columns">
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              SPECIALTY GOES HERE
            </div>
            <div class="small-4 columns">
              SPECIALTY GOES HERE
            </div>
            <div class="small-4 columns">
              SPECIALTY GOES HERE
            </div>
          </div>
        </div>
        <div class="large-12 large-centered columns" role="send email to caregiver">
          <% if current_user.patient %>
          <%= link_to 'Send email', send_email_path, class: 'button expanded' %>
          <% end %>
        </div>
      </div>

  </body>
</html>
