<h1>This is a patient edit form</h1>


<%= form_for @patient do |f| %>
  <%= f.text_field :date_of_birth %>
  <%= f.text_field :photo %>
  <%= f.text_field :location %>
  <%= f.submit "Save Patient Profile" %>


<% end %>
