<h2 class="text-center"> Welcome back, <%= @patient.user.first_name %> </h2>

<div class="row">
  <div class="small-4 columns">
    <div class="panel callout radius">
      <div class="card">
        <img src="<%= @patient.photo %>">
        <div class="card-divider text-center">
          <h4><%= @patient.user.first_name %> <%= @patient.user.last_name %></h4>
        </div>
        <div class="card-section">
          <ul>
            <li> Birthdate: <%= @patient.date_of_birth %></li>
            <li> Location: <%= @patient.location %></li>
          </ul>
        </div>
        <%= button_to "Edit Profile Information", edit_patient_path, :method => :get, class: "button" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-7 columns">
      <div class="panel callout radius">
        <h4> Short Bio </h4>
        <p>
          <%= @patient.bio %>
        </p>
        <div>
        </div>
      </div>
      <a href="#"class="button expanded"> Find a Caregiver </a>


    </div>

  </div>
