<h1>This is a user edit form</h1>


<%= form_for @user do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :email %>
  <%= f.text_field :password %>
  <%= f.submit "Save Profile" %>


<% end %>
