<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track', 'vendor/modernizr' => true %>
    <%= csrf_meta_tags %>
    <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">[ A I D E ]</li>
        <li>
          <a href="#">💙 About Us </a>
        </li>
        <li> <%= link_to "Caregivers Directory", caregivers_path %> </li>
        <li><a href="#">Resources</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="<%= login_path %>">Login</a></li>
        <li><a href="<%= logout_path %>">Logout</a></li>
        <li><a href="<%= new_user_path %>">Sign Up</a></li>
      </ul>
    </div>
  </div>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
