<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track', 'vendor/modernizr' => true %>
  <%= csrf_meta_tags %>
  <%= include_uploadcare_widget_from_cdn version: "2.9.0", min: true %>
  <%= uploadcare_settings %>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"> <%= link_to "[ A I D E ]", root_path %></li>
        <li> <%= link_to "About Us", about_path %> </li>
        <li><%= link_to "Resources", resources_path %></li>
        <% if current_user %>
        <li> <%= link_to "Caregivers Directory", caregivers_path %> </li>
        <% end %>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        <% if current_user %>
          <% if current_user.patient %>
            <li> <%= link_to "Profile", patient_path(patient.id) %> </li>
          <% else %>
            <li> <%= link_to "Profile", caregiver_path(caregiver.id) %> </li>
            <% end %>
        <li> <%= link_to "Logout", logout_path %> </li>
        <% else %>
        <li> <%= link_to "Login", login_path %> </li>
        <li> <%= link_to "Sign Up", new_user_path %> </li>
      </ul>
    </div>
    <% end %>
  </div>
<br>
  <div class="row">
    <div class="flash-message text-center">
      <% flash.each do |type, m| %>
      <%= m %>
      <% end %>
    </div>
  </div>
</head>
<body>
  <br>

  <%= yield %>

</body>
</html>
